body {
	box-sizing: border-box;
	display: block;

	width: 100%;
	margin: 0;
	padding: 0;

	color: #000000;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.divider {
	box-sizing: border-box;

	display: block;
	margin: 0 auto;
	padding: 0 20px;
	width: 1160px;
	height: 2px;
	background-color: #eeeeee;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
  	height: 1px;
  	margin: -1px;
}

.button {
	box-sizing: border-box;
	display: inline-block;

	margin: 0;
	padding: 14px 20px;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;

	background-color: #fb565a;

	border: none;
	border-radius: 4px;

	cursor: pointer;
}

.button_grey {
	background-color: #eeeeee;
	color: #000000;
}

.button_green {
	background-color: #00ca74;
}

.button_yellow {
	background-color: #efc84a;
}

.button:hover {
	background-color: #e74246;
}

.button_grey:hover {
	background-color: #dfdfdf;
}

.button_green:hover {
	background-color: #00bc6c;
}

.button_yellow:hover {
	background-color: #eab534;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
	background-color: #d7373b;
}

.button_grey:active {
	background-color: #d5d5d5;
	color: #959595;
}

.button_green:active {
	background-color: #00aa62;
}

.button_yellow:active {
	background-color: #e5a722;
}

.page-header {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;

	background-color: #eeeeee;
}

.page-header__navigation {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	padding: 20px 20px 10px;
}

.main-navigation__logo {
	opacity: 1;
}

.main-navigation__logo:hover {
	opacity: .8;
}

.main-navigation__logo:active {
	opacity: .3;
}

.page-header__main-navigation {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.main-navigation__item {
	display: flex;
}

.main-navigation__link,
.user-navigation__link {
	padding: 27px 25px;

	color: #000000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.main-navigation__link:hover,
.user-navigation__link:hover {
	color: #fb565a;
}

.main-navigation__link:active,
.user-navigation__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.page-header__user-navigation {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation__item {
	display: flex;
	position: relative;

	padding-left: 40px;
}

.user-navigation__item:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 31px;
	left: 25px;

	background-image: url(../svg/cart-icon.svg);
	background-repeat: no-repeat;
}

.page-header__header {
	margin: 0;
	padding-top: 55px;
	padding-bottom: 100px;

	font-size: 55px;
	line-height: 55px;
	text-align: center;
}

.page-header__slider {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.slide__header {
	margin: 0;
	padding-top: 55px;
	padding-bottom: 10px;

	font-size: 55px;
	line-height: 55px;
}

.slide__message {
	margin-top: 30px;
	margin-bottom: 34px;

	font-size: 16px;
	line-height: 24px;
}

.slider__link {
	padding: 14px 50px;
}

.slider__slide_first,
.slider__slide_second,
.slider__slide_third {
	display: none;
	padding-bottom: 80px;

	background-repeat: no-repeat;
}

.slider__slide_first {
	padding-bottom: 80px;

	background-image: url(../img/slide1.png);
	background-position: 94% 0;
}

.slider__slide_second {
	padding-bottom: 80px;

	background-image: url(../img/slide2.png);
	background-position: 100% 0;
}

.slider__slide_third {
	padding-bottom: 80px;

	background-image: url(../img/slide3.png);
	background-position: 100% 0;
}

.slide--current {
	display: block;
}

.advantages {
	width: 1160px;
	margin: 0 auto;
	padding: 80px 20px;
}

.advantages__list {
	box-sizing: border-box;
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages__card {
	margin-right: 100px;
}

.card__header {
	margin: 20px 0;

	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.card__message {
	margin-bottom: 30px;

	font-size: 16px;
	line-height: 24px;
}

.card__link {
	padding: 14px 40px;
}

.studio {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	padding: 40px 20px 50px;

	font-size: 16px;
	line-height: 24px;
}

.about-us__header {
	margin: 35px 0;

	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.about-us__message {
	margin: 25px 0;
}

.about-us__small-header {
	margin-bottom: 0px;

	font-weight: bold;
	text-transform: uppercase;
}

.about-us__features-list {
	padding: 0;
	list-style: none;
}

.features-list__item {
	position: relative;
	padding: 14px 0;
	padding-left: 40px;
}

.features-list__item:before {
	position: absolute;
	content: "";
	vertical-align: middle;
	width: 30px;
	height: 2px;
	background-color: #fb565a;
	top: 24px;
	left: 0;
}

.quality__small-header {
	margin: 30px 0;
	padding-left: 25px;

	font-weight: bold;
	text-transform: uppercase;
}

.quality__list {
	display: flex;
	justify-content: space-between;

	padding: 0;

	list-style: none;
}

.quality-list__header {
	margin: 0;
	margin-bottom: 20px;

	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
}

.quality-list__message {
	margin: 0;

	line-height: 18px;
}

.examples {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 80px;
}

.examples__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.examples__item {
	box-sizing: border-box;
	position: relative;
	width: 290px;
	height: 180px;
}

.examples__item:not(:last-child):before {
	content: "";
	position: absolute;
	width: 2px;
	height: 52px;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	background-color: #eeeeee;
}

.examples__link {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: .2;
}

.examples__link:hover {
	opacity: 1;
}

.examples__link:active {
	opacity: .1;
}

.contacts {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 54px 0;

	background-color: #eeeeee;
	background-image: url(../img/map_default.jpg);
	background-repeat: no-repeat;
}

.contacts__contacts-block {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;

}

.contacts-block__card {
	box-sizing: border-box;
	width: 320px;
	padding: 46px 50px;
	background-color: #fff;
}

.contacts-block__header {
	margin: 5px 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.contacts-block__message {
	margin: 20px 0;
	color: #666666;
	font-style: 16px;
	line-height: 18px;
}

.contacts-block__button {
	width: 220px;
	margin-top: 20px;
	padding: 14px 42px;
}

.page-footer {
	display: flex;
	width: 1160px;
	margin: 0 auto;
	padding: 70px 20px;
}

.social__list {
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0;
	padding: 0;
	margin-right: 140px;

	list-style: none;
}

.social__item {
	/*position: relative;*/

	/*width: 78px;*/
	/*height: 78px;*/

	/*border-radius: 50%;*/

	/*background-color: #e1e1e1;*/
}

.social__link {
	position: relative;
	display: block;
	width: 78px;
	height: 78px;

	border-radius: 50%;

	background-color: #e1e1e1;
}

.social__link:hover {
	background-color: #e74246;
}

.social__link:active {
	background-color: #d7373b;
}

.social__link:active .social__icon {
	opacity: .3;
}

.social__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.friendship-slogan__header {
	margin: 5px 0;

	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.friendship-slogan__message {
	margin: 15px 0;

	font-size: 16px;
	line-height: 22px;
}

.modal-write-us {
	display: none;
}

.modal-write-us_is-showed {
	display: block;
	animation-name: show;
	animation-duration: .2s;
}

@keyframes show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.modal-write-us__form {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;

	width: 960px;
	margin: 0;
	padding: 70px 100px;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 16px;
	line-height: 18px;

	background-color: #ffffff;

	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
}

.modal-write-us__header-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 760px;
}

.modal-write-us__header {
	margin: 0;
	margin-bottom: 45px;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.modal-write-us__close-button {
	position: absolute;
	width: 21px;
	height: 21px;
	top: 0;
	right: 0;

	background-color: transparent;
	background-image: url(../svg/close-cross.svg);
	background-repeat: no-repeat;

	border: none;

	cursor: pointer;

	opacity: .3;
}

.modal-write-us__close-button:hover {
	opacity: 1;
}

.modal-write-us__close-button:active {
	opacity: .1;
}

.modal-write-us__name-and-email {
	display: flex;
	justify-content: space-between;
	width: 760px;
}

.modal-write-us__textfield {
	display: flex;
	flex-direction: column;
	width: 760px;
}

.modal-write-us__input-header {
	margin-bottom: 10px;

	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.modal-write-us__input {
	display: flex;
	flex-direction: column;
}

.modal-write-us__input-field {
	font: inherit;

	box-sizing: border-box;
	width: 360px;
	margin-bottom: 35px;
	padding: 14px;

	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-write-us__input-textfield {
	font: inherit;

	box-sizing: border-box;
	width: 100%;
	margin-bottom: 35px;
	padding: 14px;


	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-write-us__input-field:hover,
.modal-write-us__input-textfield:hover {
	border-color: #b4b9bb;
	outline: none;
}

.modal-write-us__input-field:focus,
.modal-write-us__input-textfield:focus {
	border-color: #000000;
	outline: none;
}

.modal-write-us__input-field:invalid {
	border-color: #e74246;
	outline: none;
}

.modal-write-us__button {
	margin: 10px 0;
	padding: 14px 80px;
}

.catalog__container {
	width: 1160px;
	padding: 60px 20px 0;
	margin: 0 auto;
}

.catalog__columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.catalog__filters {
	box-sizing: border-box;

	width: 260px;
}

.catalog {
	box-sizing: border-box;

	width: 760px;
}

.filters__header {
	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.filters__price {
	margin: 60px 0;
	padding: 0;

	border: none;

}

.filters__range {
	position: relative;
	height: 41px;
	margin-bottom: 14px;
	padding: 0 20px;
	padding-top: 39px;

	background-color: #f1f1f1;

	border-radius: 5px;

	overflow: hidden;
}

.range__line {
	height: 2px;

	background: #d7dcde;
}

.range__scale {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range__button {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;

	cursor: pointer;

	border: 8px solid #ffffff;
	border-radius: 50%;

	background-color: #ababab;


	box-shadow: 0 2px 1px #cfcfcf;	
}

.range__button--min {
	left: 20px;
}

.range__button--max {
	left: 165px;
}

.filters__fields-labels {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.fields-labels__input {
	box-sizing: border-box;

	font: inherit;

	width: 80px;
	margin-left: 8px;
	padding: 8px 10px;

	color: #283136;
	text-align: center;

	border: none;
	border-radius: 5px;

	background-color: #eeeeee;
}

.filters__stroke-wrapping {
	margin: 0;
	margin-top: 15px;
}

.filters__grids,
.filters__features {
	margin: 60px 0;
	padding: 0;

	border: none;
}

.grids__item,
.features__item {
	position: relative;

	padding-left: 35px;

	vertical-align: middle;
	color: #283136;
	font-style: 16px;
	line-height: 20px;

	cursor: pointer;
}

.grids__item:hover,
.features__item:hover,
.grids__item:hover::before,
.features__item:hover::before {
	color: #000000;
	opacity: 1;
}

.grids__item::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 25px;
	top: -3px;
	left: 0;

	background-image: url(../svg/radio-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: .4;
}

.grids__radio:checked + .grids__item::before {
	background-image: url(../svg/radio-on.svg);
}

.features__item::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 25px;
	top: -3px;
	left: 0;

	background-image: url(../svg/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: .4;
}

.features__checkbox:checked + .features__item::before {
	background-image: url(../svg/checkbox-on.svg);
}

.grids__radio:disabled + .grids__item,
.grids__radio:disabled + .grids__item::before,
.features__checkbox:disabled + .features__item,
.features__checkbox:disabled + .features__item::before {
	opacity: .2;
}

.filters__button {
	width: 100%;
}

.sorting__container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.sorting__list {
	display: flex;

	margin: 0;
	padding: 0;
	padding-left: 195px;

	list-style: none;
}

.sorting__item {
	margin: 0;
	padding: 0;
	padding-left: 25px;
}

.sorting__link {
	display: block;
	margin: 0;
	padding: 0;

	color: #000000;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;

	opacity: .3;
}

.sorting__link:hover {
	opacity: .6
}

.sorting__link:active {
	opacity: 1;
}

.sorting__link--current {
	opacity: 1;
}

.sorting__sort-order {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	width: 40px;
	max-height: 10px;
	margin: 0;
	padding: 0;
}

.sort-order__icon-down,
.sort-order__icon-up {
	width: 12px;
	height: 10px;

	background-color: #fff;
	background-repeat: no-repeat;
	opacity: .2;
}

.sort-order__icon-down:hover,
.sort-order__icon-up:hover {
	opacity: .4;
}

.sort-order__icon-down {
	background-image: url("../svg/icon-down-dir.svg");
}

.sort-order__icon-up {
	background-image: url("../svg/icon-up-dir.svg");
}

.sort-order--current {
	opacity: 1;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	margin-top: 60px;
	padding: 0;
	padding-bottom: 25px;

	list-style: none;
}

.catalog__item {
	box-sizing: border-box;
	position: relative;

	width: 360px;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

.catalog__hover-block {
	position: absolute;
	width: 360px;
	min-height: 230px;
 	bottom: 6px;
	text-align: center;

 	background-color: #eeeeee;
	opacity: 0;
	transition: .2s ease-out;
}

.catalog__item:hover .catalog__hover-block,
.catalog__item:hover .catalog__item_header {
	transition: .2s ease-out;
	opacity: 1;
}

.catalog__item:hover .catalog__image {
	transition: .2s ease-out;
	filter: blur(1px);
}

.hover-block__header {
	margin: 25px 0 15px;
	padding: 0;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.hover-block__message {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	color: #666666;
	font-style: 16px;
	line-height: 18px;
	font-weight: normal;
}

.hover-block__button {
	width: 200px;
}

.catalog__item_header {
	transition: .2s ease-out;
	opacity: .12;
}

.catalog__image {
	margin: 0;
	margin-top: -7px;
	padding: 0;
	transition: .2s ease-out;
}

.pagination__list {
	display: flex;
	justify-content: space-between;

	width: 445px;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;

	list-style: none;
}

.pagination__item {
	margin: 0;
	padding: 0;
}

.pagination__link {
	display: block;
	margin-right: 3px;

	border: 3px solid #eeeeee;
}

.pagination__link:hover {
	border-color:#dfdfdf;
}

.pagination__link:active {
	border: none;
	padding: 17px 23px;
}

.pagination__link--current {
	border-color: #dbdbdb;

	background-color: #fff;
}

.pagination__button {
	width: 245px;
	padding: 17px 23px;
	text-align: center;
}

.pagination__button:hover {}