body {
	box-sizing: border-box;
	display: block;

	width: 100%;
	margin: 0;
	padding: 0;

	color: #000000;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
  	height: 1px;
  	margin: -1px;
}

.button {
	margin: 0;
	padding: 14px 30px;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fb565a;

	border: none;
	border-radius: 4px;
}



.page-header {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;

	background-color: #eeeeee;
}

.page-header__navigation {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	padding-top: 20px;
}

.main-navigation__logo {
	fill: #000000;
}

.main-navigation__logo:hover {
	fill: #303030;
}

.main-navigation__logo:active {
	fill: #a6a6a6;
}

.page-header__main-navigation {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.main-navigation__item {
	display: flex;
}

.main-navigation__link,
.user-navigation__link {
	padding: 27px 25px;

	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.main-navigation__link:hover,
.user-navigation__link:hover {
	color: #fb565a;
}

.main-navigation__link:active,
.user-navigation__link:active {
	color: rgba(0, 0, 0, 0.3);
}

.page-header__user-navigation {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation__item {
	display: flex;
	position: relative;

	padding-left: 40px;
}

.user-navigation__item:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 31px;
	left: 25px;

	background-image: url(../svg/cart-icon.svg);
	background-repeat: no-repeat;
}

.page-header__slider {
	width: 1160px;
	margin: 0 auto;
}

.slide__header {
	margin: 0;
	padding-top: 55px;
	padding-bottom: 10px;

	font-size: 55px;
	line-height: 55px;
}

.slide__message {
	margin-top: 30px;
	margin-bottom: 55px;

	font-size: 16px;
	line-height: 24px;
}

.slider__link {
	padding: 14px 50px;
}

.slider__slide_first,
.slider__slide_second,
.slider__slide_third {
	display: none;
	padding-bottom: 80px;

	background-repeat: no-repeat;
}

.slider__slide_first {
	padding-bottom: 80px;

	background-image: url(../img/slide1.png);
	background-position: 94% 0;
}

.slider__slide_second {
	padding-bottom: 80px;

	background-image: url(../img/slide2.png);
	background-position: 100% 0;
}

.slider__slide_third {
	padding-bottom: 80px;

	background-image: url(../img/slide3.png);
	background-position: 100% 0;
}

.slide--current {
	display: block;
}

.advantages {
	box-sizing: border-box;
	width: 1160px;
	margin: 0 auto;
	padding-top: 80px;
}

.advantages__list {
	box-sizing: border-box;
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages__card {

}

.studio {
	box-sizing: border-box;
	width: 1160px;
	margin: 0 auto;
}

.examples {
	box-sizing: border-box;
	width: 1160px;
	margin: 0 auto;
}

.contacts {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

.page-footer {
	box-sizing: border-box;
	width: 1160px;
	margin: 0 auto;
}